.activity {
    display: none;

    @media screen and(min-width:1200px) {
        display: flex;
    }
}


.activity__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;
}

.activity__list {
    display: flex;
    list-style: none;
}

.activity__item {
    position: relative;

    &:not(:last-child) { margin-right: 30px; }
}



.activity__subtitle {
    position: absolute;
    left: 0%;
    bottom: 0%;

    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-white-color);
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    text-decoration: none;
    width: 100%;
}