.contact-information {
    
    text-align: center;
    
    @media screen and(min-width:768px) {
            width: calc((100% - 120px) / 2);
        }
    
        @media screen and(min-width:1200px) {
            width: calc((100% - 120px) / 3);
            text-align: start;
        }
  
}

.contact-information__logo {
    color: var(--main-white-color);
    font-family: Raleway, cursive;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 20px;

    & .accent {
            color: var(--accent-color);
        }
}

.contact-information__location {
    color: var(--main-white-color);
    font-style: normal;
}

.contact-information__item {
    color: var(--footer-text-color);
    list-style: none;
    text-decoration: none;
}