.form {
    margin: 40px;
}

.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;

    @media screen and(min-width:1200px)  {
        line-height: 1.2;
    }
}

.form-field {
    margin-bottom: 10px;
}

.form-label {
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 1);
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 16px;
    padding-left: 42px;
    padding-bottom: 16px;

    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and(min-width:1200px) {
            width: 448px;
        }

    &:focus+.modal-icon {
            fill: var(--accent-color);
        }

    
}

.form-comment {
    color: rgba(117, 117, 117, 0.5);

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    resize: none;

    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus-within {
            border: 1px solid var(--accent-color);
        }

    @media screen and(min-width:1200px) {
        width: 448px;
    }    
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    fill: #212121;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-svg {
    position: relative;

    &:focus-within>.form-input {
            border: 1px solid var(--accent-color);
        }
}

.form-agreement {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    color: #757575;
    margin-left: 7px;

    @media screen and(min-width:1200px) {
        font-size: 14px;
        line-height: 1.71px;
    }
}

.form-contract {
    color: var(--accent-color);
}

.form-check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.changeable-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .hidden:checked+& {
            background-color: var(--accent-color);
            border: 2px solid var(--accent-color);
        }
}

.modal-btn {
    display: inline-block;
    color: var(--main-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    border-radius: 4px;
    padding: 0;
    margin-left: 25%;
    text-align: center;
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        }
}

